@keyframes translateScroller {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(-20%);
  }
}

.root {
  mask: linear-gradient(90deg, transparent, white 20% 80%, transparent);
  animation: translateScroller linear;
  animation-timeline: view();
  animation-range: entry exit;
}

@media (prefers-reduced-motion) {
  .root {
    animation: none;
    mask: none;
  }
}
