.root {
  flex-direction: column;
  margin: 1.5rem 1.25rem 1.25rem 1rem;
}

.heading {
  gap: 2.5rem;
  margin-bottom: 1.25rem;
}

.hero {
  gap: 2.5rem;
  margin: 0 1.25rem;
}

.quote {
  text-decoration: underline;
  font-weight: var(--fontweights-bold);
}

.catchphrase {
  font-weight: var(--fontweights-bold);
}

.details {
  display: none;
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .mobile.mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .root {
    flex-direction: row-reverse;
    gap: 1.25rem;
    justify-content: space-between;
  }

  .heading {
    gap: 3.375rem;
  }

  .details {
    display: flex;
    justify-content: space-between;
  }

  .grid.grid {
    margin-top: 1.875rem;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .image.image {
    aspect-ratio: 256 / 672;
    width: 25vw;
    max-height: calc(100svh - 4rem);
  }

  .subtitle.subtitle {
    display: flex;
    gap: 0.75rem;
  }
}
