.viewport {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 0.625rem;
  width: clamp(12rem, 33vw, 24rem);
  margin: 0;
  list-style: none;
  z-index: 12000;
  outline: none;
}