.root {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-width: 5rem;
  height: 1.875rem;
  border-radius: var(--radii-rounded);
  text-transform: uppercase;
  font-size: var(--fontsizes-button);
  font-weight: var(--fontweights-bold);
  border: none;
  background: none;
  outline-offset: -0.125rem;
}
.root:hover {
  cursor: pointer;
}

.variant-contained {
  background-color: var(--colors-primary);
  color: var(--colors-background);
}
.variant-contained:focus {
  outline: 0.125rem solid var(--colors-outline);
}
.variant-contained:active {
  box-shadow: var(--shadows-medium);
}

.variant-outlined {
  border: 0.125rem solid var(--colors-primary);
  color: var(--colors-primary-alpha90);
}
.variant-outlined:focus {
  outline: 0.1875rem solid var(--colors-primary-alpha10);
}
.variant-outlined:active {
  background-color: var(--colors-primary-alpha4);
}

.variant-text {
  color: var(--colors-primary);
}
.variant-text:focus {
  background-color: var(--colors-primary-alpha4);
}
.variant-text:active {
  box-shadow: var(--shadows-light);
}