.root {
  display: inline-flex;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-radius: var(--radii-round);
}

.selected-true {
  outline: 0.25rem solid var(--colors-fern-green);
  box-shadow: var(--shadows-selected);
}