.root {
  display: inline-flex;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  border-radius: var(--radii-avatar);
}

.selected-true {
  outline: 0.25rem solid var(--colors-fern-green);
  box-shadow: var(--shadows-selected);
}
