.label.label {
    color: var(--colors-secondary-background);
}

.content.content {
    background-color: var(--colors-background);
    border: 0.125rem solid var(--colors-secondary-background);
    border-radius: var(--radii-rounded);
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}