.root {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  max-height: 4rem;
  height: 0%;
  overflow: hidden;
  transition: height 0.2s ease-out;
  background-color: var(--colors-background);
}

.content {
  padding: 0 1.25rem;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colors-navbar);
}

.logo {
  gap: 0.5rem;
}

.navGroup.navGroup {
  gap: 1.5rem;
}

.actions.actions {
  gap: 1.25rem;
}

@media (max-width: 1023px) {
  .desktop.desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobile.mobile {
    display: none;
  }
}
