.root {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: var(--radii-round);
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(0,0%,0%);
  font-size: var(--fontsizes-button);
  font-weight: var(--fontweights-bold);
  border: none;
  background: none;
}
.root:hover {
  cursor: pointer;
  color: hsl(261, 100%, 42%);
}
.root:focus {
  background-color: hsla(261, 100%, 42%, 0.04);
}
.root:active {
  box-shadow: var(--shadows-light);
}

.variant-small {
  width: 2.5rem;
  height: 2.5rem;
}

.variant-medium {
  width: 3.75rem;
  height: 3.75rem;
}