@keyframes down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: 3rem;
  outline: 1px solid var(--colors-overlay);

  &:hover .arrow,
  &:focus .arrow {
    animation-play-state: paused;
  }
}

.arrow {
  position: absolute;
  left: 0;
  opacity: 0.6;
  animation: 1s ease-in-out 0s infinite down;
}