@import "tailwindcss";

@theme {
  --animate-appear: appear 400ms ease-in forwards;
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(0.625rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-disappear: disappear 100ms ease-in forwards;
  @keyframes disappear {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(0.625rem);
    }
  }
  --animate-fold: fold 200ms linear forwards;
  @keyframes fold {
    0% {
      transform: scaleY(100%);
    }
    100% {
      transform: scaleY(0%);
    }
  }
  --animate-unfold: unfold 200ms linear forwards;
  @keyframes unfold {
    0% {
      transform: scaleY(0%);
    }
    100% {
      transform: scaleY(100%);
    }
  }
  --animate-spring: spring 1000ms linear forwards;
  @keyframes spring {
    0.00% {
      scale: 0;
    }
    0.971% {
      scale: 0.0072;
    }
    1.94% {
      scale: 0.0572;
    }
    2.91% {
      scale: 0.141;
    }
    3.88% {
      scale: 0.253;
    }
    4.85% {
      scale: 0.384;
    }
    5.83% {
      scale: 0.528;
    }
    6.80% {
      scale: 0.677;
    }
    7.77% {
      scale: 0.824;
    }
    8.74% {
      scale: 0.964;
    }
    9.71% {
      scale: 1.09;
    }
    10.7% {
      scale: 1.2;
    }
    11.7% {
      scale: 1.29;
    }
    12.6% {
      scale: 1.36;
    }
    13.6% {
      scale: 1.41;
    }
    14.6% {
      scale: 1.44;
    }
    15.5% {
      scale: 1.44;
    }
    16.5% {
      scale: 1.43;
    }
    17.5% {
      scale: 1.4;
    }
    18.4% {
      scale: 1.35;
    }
    19.4% {
      scale: 1.3;
    }
    20.4% {
      scale: 1.24;
    }
    21.4% {
      scale: 1.17;
    }
    22.3% {
      scale: 1.11;
    }
    23.3% {
      scale: 1.04;
    }
    24.3% {
      scale: 0.984;
    }
    25.2% {
      scale: 0.932;
    }
    26.2% {
      scale: 0.887;
    }
    27.2% {
      scale: 0.852;
    }
    28.2% {
      scale: 0.826;
    }
    29.1% {
      scale: 0.81;
    }
    30.1% {
      scale: 0.804;
    }
    31.1% {
      scale: 0.806;
    }
    32.0% {
      scale: 0.817;
    }
    33.0% {
      scale: 0.834;
    }
    34.0% {
      scale: 0.856;
    }
    35.0% {
      scale: 0.881;
    }
    35.9% {
      scale: 0.91;
    }
    36.9% {
      scale: 0.939;
    }
    37.9% {
      scale: 0.968;
    }
    38.8% {
      scale: 0.995;
    }
    39.8% {
      scale: 1.02;
    }
    40.8% {
      scale: 1.04;
    }
    41.7% {
      scale: 1.06;
    }
    42.7% {
      scale: 1.07;
    }
    43.7% {
      scale: 1.08;
    }
    44.7% {
      scale: 1.09;
    }
    45.6% {
      scale: 1.09;
    }
    46.6% {
      scale: 1.08;
    }
    47.6% {
      scale: 1.08;
    }
    48.5% {
      scale: 1.07;
    }
    49.5% {
      scale: 1.06;
    }
    50.5% {
      scale: 1.05;
    }
    51.5% {
      scale: 1.03;
    }
    52.4% {
      scale: 1.02;
    }
    53.4% {
      scale: 1.01;
    }
    54.4% {
      scale: 0.996;
    }
    55.3% {
      scale: 0.986;
    }
    56.3% {
      scale: 0.977;
    }
    57.3% {
      scale: 0.971;
    }
    58.3% {
      scale: 0.966;
    }
    59.2% {
      scale: 0.963;
    }
    60.2% {
      scale: 0.962;
    }
    61.2% {
      scale: 0.962;
    }
    62.1% {
      scale: 0.964;
    }
    63.1% {
      scale: 0.968;
    }
    64.1% {
      scale: 0.972;
    }
    65.0% {
      scale: 0.977;
    }
    66.0% {
      scale: 0.983;
    }
    67.0% {
      scale: 0.988;
    }
    68.0% {
      scale: 0.994;
    }
    68.9% {
      scale: 0.999;
    }
    69.9% {
      scale: 1;
    }
    70.9% {
      scale: 1.01;
    }
    71.8% {
      scale: 1.01;
    }
    72.8% {
      scale: 1.01;
    }
    73.8% {
      scale: 1.02;
    }
    74.8% {
      scale: 1.02;
    }
    75.7% {
      scale: 1.02;
    }
    76.7% {
      scale: 1.02;
    }
    77.7% {
      scale: 1.02;
    }
    78.6% {
      scale: 1.01;
    }
    79.6% {
      scale: 1.01;
    }
    80.6% {
      scale: 1.01;
    }
    81.6% {
      scale: 1.01;
    }
    82.5% {
      scale: 1;
    }
    83.5% {
      scale: 1;
    }
    84.5% {
      scale: 0.999;
    }
    85.4% {
      scale: 0.997;
    }
    86.4% {
      scale: 0.995;
    }
    87.4% {
      scale: 0.994;
    }
    88.3% {
      scale: 0.993;
    }
    89.3% {
      scale: 0.993;
    }
    90.3% {
      scale: 0.992;
    }
    91.3% {
      scale: 0.992;
    }
    92.2% {
      scale: 0.993;
    }
    93.2% {
      scale: 0.994;
    }
    94.2% {
      scale: 0.995;
    }
    95.1% {
      scale: 0.996;
    }
    96.1% {
      scale: 0.997;
    }
    97.1% {
      scale: 0.998;
    }
    98.1% {
      scale: 0.999;
    }
    99.0% {
      scale: 1;
    }
    100% {
      scale: 1;
    }
  }

  --color-background: hsl(225, 100%, 99%);
  --color-primary: hsl(183, 87%, 24%);
  --color-secondary-background: hsl(22, 89%, 40%);
  --color-secondary-navbar: hsl(17, 76%, 42%);
  --color-tertiary: hsl(158, 20%, 81%);
  --color-fern-green: hsl(103, 36%, 37%);
  --color-text: hsl(0, 0%, 21%);
  --color-error: hsl(0, 65%, 51%);
  --color-skeleton-start: hsl(210, 38%, 95%);
  --color-skeleton-end: hsl(214, 20%, 69%);

  --text-label: clamp(0.75rem, 1.3vw, 0.875rem);
  --text-label--line-height: 1.5;

  --text-body: clamp(0.875rem, 1.3vw, 1rem);
  --text-body--line-height: 1.5;

  --text-button: clamp(1rem, 1.5vw, 1.125rem);
  --text-button--line-height: 1.5;

  --text-heading1: clamp(2rem, 3vw, 2.5rem);
  --text-heading1--line-height: 1.5;

  --text-heading2: clamp(1.25rem, 2vw, 1.5rem);
  --text-heading2--line-height: 1.5;

  --text-heading3: clamp(1.25rem, 2vw, 1.5rem);
  --text-heading3--line-height: 1.5;

  --text-subtitle: clamp(1rem, 1.5vw, 1.125rem);
  --text-subtitle--line-height: 1.5;

  --radius-none: 0;
  --radius-input: 0.375rem 0.375rem 0 0;
  --radius-avatar: 3.125rem;
  --radius-pill: 999rem;
  --radius-round: 50%;
  --radius-quote: 0.5rem;

  --font-display: var(--font-urbanist), sans-serif;
  --font-body: var(--font-lora), serif;

  --aspect-social: 9 / 16;

  --shadow-input: 0 0.125rem 0 0 hsla(0, 0%, 0%, 0.7);
  --shadow-input-focus: 0 0.125rem 0 0 transparent;
  --shadow-focus: 0 0 0.375rem 0.125rem hsla(0, 0%, 0%, 0.26);
  --shadow-focus-large: 0 0 0.75rem 0.25rem hsla(0, 0%, 0%, 0.26);
  --shadow-selected: 0 0 0.5rem 0.25rem hsla(0, 0%, 0%, 0.26);
  --shadow-selected-large: 0 0 0.1rem 0.5rem hsla(0, 0%, 0%, 0.26);
  --shadow-text: 0.125rem 0.125rem 0.25rem hsla(0, 0%, 0%, 0.26);

  --inset-shadow-active: inset 0 0 0.375rem 0.25rem hsla(0, 0%, 0%, 0.26);
  --inset-shadow-active-large: inset 0 0 0.75rem 0.5rem hsla(0, 0%, 0%, 0.26);
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
}

@layer utilities {
  html,
  body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion) {
    html,
    body {
      scroll-behavior: auto;
    }
  }
}

@layer utilities {
  @counter-style checkmark {
    system: cyclic;
    symbols: "✓";
    suffix: " ";
  }
}
