.root {
  position: relative;
  margin-left: calc(3/5 * 37.5rem);
  max-height: 37.5rem;
  aspect-ratio: 3 / 5;
  min-width: 20rem;
  max-width: 33%;
  transition: transform 2s;
  background-color: var(--colors-default);
  border-radius: 0.1875rem;
}