.root {
  display: block;
  font-size: var(--fontsizes-body);
  line-height: 1.5;
  font-family: inherit;
  color: var(--colors-text);
  font-weight: var(--fontweights-regular);
  margin: 0;
}

.align-start {
  text-align: start;
}

.align-end {
  text-align: end;
}
