@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(0.625rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  height: clamp(5rem, 16vw, 10rem);
  width: auto;
}

.presentation {
  position: relative;
  padding: 1.25rem 0 1.25rem 1.25rem;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.author {
  gap: clamp(1rem, 2vw, 1.25rem);
}
.author h2 {
  text-align: left;
}

.cta.cta {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.hint {
  align-self: flex-end;
  opacity: 0;
  animation: var(--animation-appear) 2s;
}

.links {
  margin: 0 1rem;
  flex-direction: column;
  align-items: center;
}

.socialHeadingBlock {
  text-align: center;
  gap: 0.625rem;
  flex-grow: 1;
}
.socialHeading.socialHeading {
  color: var(--colors-secondary-background);
}

.heading.heading {
  color: var(--colors-white);
}

@media (max-width: 1023px) {
  .desktop.desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .carousel {
    margin: 5.5rem 2.5rem 0 2.5rem;
  }

  .mobile.mobile {
    display: none;
  }

  .cta {
    position: absolute;
    bottom: 6rem;
    align-self: center;
  }

  .presentation {
    padding: 2rem 0 0.75rem 2.5rem;
  }

  .logo {
    position: absolute;
    right: 0;
    top: -2.5rem;
  }

  .hint {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .banner.banner {
    margin-top: 2.5rem;
  }
}
