.videoBlock {
    position: relative;
}

.videoWrapper {
    overflow: hidden;
}

.videoPlayer {
    min-height: 25rem;
    min-width: 100%;
    aspect-ratio: 16/9;
    display: block;
}

.logo {
    position: absolute;
    left: 1.25rem;
    bottom: 0;
    width: 96px;
    height: auto;
}

.heading {
    position: absolute;
    top: 0;
    text-align: center;
    color: var(--colors-overlay);
    padding: 0 1.25rem;
}

.character {
    position: absolute;
    right: 1.25rem;
    bottom: 0;
    height: 178px;
    width: auto;
}

@media (min-width: 1024px) {
    .character {
        height: 320px;
    }

    .logo {
        width: 192px;
    }
}