@keyframes parallaxEnter {
  from {
    scale: 0.3;
  }
  to {
    scale: 1;
  }
}

.root {
  animation: parallaxEnter linear forwards;
  animation-timeline: view();
  animation-range: entry 0% contain 0%;
}

@media (prefers-reduced-motion) {
  .root {
    animation: none;
  }
}
