.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 3rem;
    max-height: 4rem;
    padding: 0 1rem;
    height: 0%;
    overflow: hidden;
    background-color: var(--colors-background);
    transition: height 0.2s ease-out;
}

.headline {
    font-size: var(--fontsizes-1);
    font-family: inherit;
    color: var(--colors-default);
    font-weight: var(--fontweights-semiBold);
}

.navGroup {
    font-size: var(--fontsizes-button);
    gap: 1.5rem;
}

.ctaLink {
    margin-left: auto;
    gap: 0.5rem;
}