.root {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 4rem;
    padding: 0 1rem;
    width: 100%;
    overflow: hidden;
    background-color: var(--colors-background);
}

.headline {
    font-size: var(--fontsizes-1);
    font-family: var(--fonts-system);
    color: var(--colors-default);
    font-weight: var(--fontweights-semiBold);
}

.navGroup {
    font-size: var(--fontsizes-button);
    gap: 1.5rem;
}

.ctaLink {
    margin-left: auto;
    gap: 0.5rem;
}