.root {
  display: block;
  font-size: var(--fontsizes-2);
  line-height: 1.5;
  font-family: inherit;
  color: var(--colors-text);
  font-weight: var(--fontweights-semiBold);
  margin: 0;
  text-align: center;
}
