@keyframes blinking {
    from {
        background: var(--colors-skeleton-start);
    }

    to {
        background: var(--colors-skeleton-end);
    }
}

.skeleton {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    animation: blinking 0.8s linear infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.skeletonIcon {
    width: 2rem;
    height: 2rem;
}

.player {
    height: max(22.5rem, 45vh);
    aspect-ratio: 16/9;
    display: block;
    min-width: 130vw;
}

@media (min-width: 1024px) {
    .player {
        height: auto;
    }
}